// app global css in SCSS form

.q-dialog__backdrop {
  backdrop-filter: blur(10px);
}

body.desktop {
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background: $separator-dark-color;
  }

  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border: 0;
    box-shadow: none;
    min-height: 40px;
    background: $grey-5;

    &:hover {
      background: $grey-6;
    }
  }

  &.body--dark {
    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
      background: $grey-9;

      &:hover {
        background: $grey-8;
      }
    }
  }

  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.page-card {
  min-width: 20%;
  @media (min-width: $breakpoint-sm-min) {
    max-width: calc(50% - 24px);
  }
}
